@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color_principal : #7fbb22;
$fuente_titulos :'Poppins', sans-serif;
$fuente_textos: 'Montserrat',sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

.toastify {
    border-radius: 40px !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #7fbb22;
}

.header {
    width: 100%;
    min-height: 10vh;

    font-family: $fuente_textos;

    .header-sub {
        justify-content: center;
        text-align: center;

        background-color: #000;
        color: azure;
    }
    .nav {
        width: 100%;
        padding: 1.3em;

        display: flex;

        justify-content: space-around;

        text-transform: uppercase;
        .navegacion {
            width: 30vh;

            align-items: center;
            
            .h1 {
                .a {
                    font-size: 1.1em;

                    text-transform: lowercase;
                    color: #000;
                    .span {
                        color: $color_principal;
                    }
                    .img {
                        height: 5em;
                    }
                }
            }
            .img {
            }
        }

        .nav-bar {
            width: 50%;

            display: flex;
            flex-flow: wrap;
            flex-wrap: wrap-reverse;

            justify-content: center;
            align-content: center;
            .li {
                padding: 0 0.55em 0 0.55em;

                .a {
                    color: #000;
                }
            }
        }
        .carrito {
            width: 30vh;
            .carrito-li {
                display: flex;

                justify-content: right;

                font-family: $fuente_textos;
                font-size: 2em;

                .fa-bag-shopping {
                    position: relative;

                    .carrito-li-contador {
                        position: absolute;
                    
                        bottom: 0;
                        left: 1.5em;

                        width: 1.2em;
                        height: 1em;

                        border-radius: 20px;

                        color: azure;

                        background-color: #212529;

                        font-family: $fuente_textos;
                        font-weight: 300;
                        font-size: 0.6em;

                        text-align: center;
                    }
                }

                
            }
        }
    }
}


.main {
    // background-color: red;

    width: 100%;
    padding: 0.5em 5em 0.5em 5em;

    // display: flex;

    .main-separador {
        width: 100%;

        padding: 2em 0em 7em 0em;
        
        text-align: center;
        
        font-family: $fuente_textos;

    }

    #main-productos {
        // background-color: blue;

        justify-content: center;
        .card {
            height: 31em;

            margin: 0em 2em 5em 2em;

            border: solid 1px rgba($color: #eeeeff, $alpha: 0.2);
            border-radius: 0;

            font-family: $fuente_textos;
            .card-body {
                .card-title {
                    font-family: $fuente_textos;
                    font-weight: 400;
                    color: #212529;
                }

                .card-precio {
                    font-family: $fuente_textos;
                    font-size: larger;
                    font-weight: 600;
                    text-align: left;
                }

                .card-text {
                    font-family: $fuente_textos;
                    font-weight: 300;
                }

                .card-boton {
                    margin: 1em;

                    position: absolute;
                    bottom: 0.5em;

                    border-radius: 30px;
                }
                
                .card-boton:hover {
                    background-color: #000;
                
                    transition: 0.4s;
                }
            }
        }
        .card:hover {
            border: solid 1px rgba($color: $color_principal, $alpha: 1);
            border-radius: 10px;

            transition: 1s;
        }
        .card:focus {
            border: solid 1px rgba($color: #000, $alpha: 1);
            
            transition: 1s;
        }
    }
    #main-carrito {
        .offcanvas{
            .fa-trash-can {
                height: 1.8em;
                width: 1.8em;

                font-size: larger;
            }
            .fa-trash-can:hover {
                color: #000;

                transition: 0.15s;
            }

            .rounded-pill {
                background-color: $color_principal;
            }

            .main-carrito-resumen {
                padding: 10px;

                background-color: #eeeeff;

                #total {
                        padding: 0.5em;
                
                        background-color: $color_principal !important;
                        border-radius: 20px;
                }
                
                .botones {
                    width: 100%;
                    height: 10vh;
                    display: flex;
                    flex-direction: row;
                
                    justify-content: center;
                }
                
                .boton-limpiar {
                    padding: 0.5em 1em 0.5em 1em;
                    margin: 0 0.5em 0 0.5em;
                
                    justify-content: center;
                    align-self: center;
                
                    background-color: rgba($color: #eeee, $alpha: 0.3);
                
                    border: 1px solid #000;
                    border-radius: 50px;
                
                    color: #000;
                
                    font-weight: 400;
                    font-family: $fuente_textos;
                }
                
                .boton-limpiar:hover {
                    background-color: #212529;
                
                    color: azure;
                
                    transition: 0.5s;
                }
                
                #boton-finalizar {
                    padding: 0.5em 1em 0.5em 1em;
                    margin: 0 0.5em 0 0.5em;
                
                    justify-content: center;
                    align-self: center;
                
                    background-color: rgba($color: #212529, $alpha: 1);
                
                    border-radius: 50px;
                
                    color: azure;
                
                    font-weight: 400;
                    font-family: $fuente_textos;
                }
                
                #boton-finalizar:hover {
                    background-color: $color_principal;
                
                    transition: 0.5s;
                }
            }
        }    
    }
}

.footer {
    width: 100%;

    padding: 6em 0 5em 0;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;

    background-color: #212529;
    .footer-navegacion {
        width: 100px;
        height: 100px;
        .footer-navegacion-titulo {
            text-align: center;

            font-size: 1.3em;
            font-family: $fuente_titulos;
            font-weight: 300;
            
            color: azure;
        }
        .footer-navegacion-nav {
            padding-left: 0 !important;

            text-align: start;

            .footer-navegacion-nav-li {
                a {
                    font-size: 1em;
                    font-family: $fuente_textos;
                    font-weight: 200;

                    color: rgba($color: azure, $alpha: 0.8);
                }
            }
        }
    }
    .footer-pagos {
        width: 25% ;
        height: 100px;
        .footer-pagos-titulo {
            text-align: center;
            
            font-size: 1.3em;
            font-family: $fuente_titulos;
            font-weight: 300;
            
            color: azure;
        }

        .footer-pagos-fotos {
            display: flex;

            flex-flow: row wrap;

            justify-content: center;
            .img {
                margin: 0.2em;

                height: 2em;
            }
        }
    }
    .footer-redes {
        width: 15%;
        height: 100px;

        .footer-redes-titulo {
            text-align: center;
            
            font-size: 1.3em;
            font-family: $fuente_titulos;
            font-weight: 300;
            
            color: azure;
        }
        .footer-redes-lista {
            padding-left: 0 !important;

            display: flex;

            flex-flow: row wrap;

            justify-content: center;

            .footer-redes-lista-li {

                margin: 0 1em 1em 1em;

                a {
                    color: rgba($color: azure, $alpha: 0.8);

                    i {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    .footer-contacto {
        width: 25%;
        height: 100%;

        .footer-contacto-titulo {
            text-align: center;
            
            font-size: 1.3em;
            font-family: $fuente_titulos;
            font-weight: 300;
            
            color: azure;
        }
        .footer-contacto-formulario {
            display: flex;
            flex-flow: column wrap;
            
            label {
                font-size: 1em;
                font-family: $fuente_textos;
                font-weight: 400;
                
                color: rgba($color: azure, $alpha: 0.8);
            }

            .footer-contacto-formulario-inputs {
                display: flex;
                
                flex-flow: column wrap;

                justify-content: center;
                input {
                    width: 50%;

                    margin: 1em 1em 1em 1em;
                    padding: 0.4em;

                    border: 0;
                    border-radius: 50px;

                    font-size: 1em;
                    font-family: $fuente_textos;
                    font-weight: 400;
                    
                    color: rgba($color: #000, $alpha: 0.8);
                }
            }

            #boton-enviar {
                width: 25%;
                
                margin: 1em 1em 1em 1em;
                padding: 0.4em;
                
                border: 0;
                border-radius: 50px;

                font-size: 1em;
                font-family: $fuente_textos;
                font-weight: 500;
                
                color: rgba($color: #000, $alpha: 0.8);
            }

            #boton-enviar:hover {
                color: rgba($color: azure, $alpha: 0.8);

                background-color:#000;

                transition: 0.4s;
            }

        }
    }
}



